body {
  text-align: center;
  background-color: #4C49A6;
  height: 100vh;
}

h1 {
  font-size: 4rem;
  color: #D5D962;
  font-family: "Roboto", cursive;
  text-shadow: 3px 0 #3A8C56;

}

.inline {
  display: inline-block;
  vertical-align: middle;
  padding-right: 1rem;
}

.gif {
  width: 5.5rem;
}

h3 {
  color: #3A8C56;
  font-family: sans-serif;
}

footer {
  color: #D5D962;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/crash.png");
}

.k {
  background-image: url("images/snare.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #5DBF5A;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #fbd756;
  font-size: 5rem;
  font-family: 'Roboto', cursive;
  line-height: 2;
  font-weight: 900;
  color: #e9465b;
  text-shadow: 3px 0 #3f0628;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
